<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @genre.name %>
</p>

<p>
  <strong>Games:</strong>
  <% @genre.games.each do |game| %>
    <p><%= link_to game.name, game %></p>
  <% end %>
</p>

<%= link_to 'Edit', edit_genre_path(@genre) %> |
<%= link_to 'Back', genres_path %>
