<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p><strong>Games:</strong></p>
<% @user.games.each do |game| %>
  <p><%= link_to game.name, game %></p>
<% end %>

<%= link_to "Import Steam library", import_steam_user_path(@user) %>
<%= link_to 'Back', users_path %>
