<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Participants:</strong>
  <%= @event.users.pluck(:email).join(", ") %>
</p>

<p>
  <strong>Event type:</strong>
  <%= link_to @event.event_type.name, @event.event_type %>
</p>

<p>
  <strong>Game:</strong>
  <%= link_to @event.game.name, @event.game %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %> |
<%= link_to 'New', new_event_path %>
