<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Participants:</strong>
  <%= @event.users.pluck(:email).join(", ") %>
</p>

<p>
  <strong>Players minimum:</strong>
  <%= @event.players_minimum %>
</p>

<p>
  <strong>Event type:</strong>
  <%= link_to @event.event_type.name, @event.event_type %>
</p>

<p>
  <strong>Game:</strong>
  <%= link_to @event.game.name, @event.game %>
</p>

<% unless @event.users.include? current_user %>
  <%= simple_form_for(Participation.new(user:current_user, event: @event)) do |f| %>
    <div style="display: none">
      <div class="form-inputs">
        <%= f.association :event %>
      </div>

      <div class="form-inputs">
        <%= f.association :user %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Participer" %>
    </div>
  <% end %>
<% end %>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %> |
<%= link_to 'New', new_event_path %>
