<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @game.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @game.description %>
</p>

<p><strong>Systems:</strong></p>
<% @game.systems.each do |system| %>
  <%= link_to system.name, system %>
<% end %>


<p><strong>Events:</strong></p>
<% @game.events.each do |event| %>
  <p><%= link_to "#{event.name} - #{event.users.count} participants", event %></p>
<% end %>

<p><strong>Events types:</strong></p>
<% @game.event_types.each do |event_type| %>
  <p><%= link_to event_type.name, event_type %></p>
<% end %>

<p><strong>Owned by:</strong></p>
<% @game.users.each do |user| %>
  <p><%= link_to user.email, user %></p>
<% end %>


<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
