<div class="nested-fields">
  <%= f.input :variable_type, collection: Variable.variable_types, value_method: :first %>
  <%= f.input :min %>
  <%= f.input :max %>
  <%= f.association :dictionary %>
  <%= link_to_remove_association "remove variable", f %>
</div>
