<div class="nested-fields">
  <%= f.input :variable_type, collection: Variable.variable_types, value_method: :first %>
  <div class="number type" style="display: none;">
    <%= f.input :min %>
    <%= f.input :max %>
  </div>
  <div class="word type" style="display: none;">
    <%= f.association :dictionary %>
  </div>
  <%= link_to_remove_association "remove variable", f %>
</div>
